.logo{
	position: relative;
}

.green1{
	height:30px;
    width:150px;
    border-radius: 30px;
    background:#3FAD85;
   	
   	-ms-transform: rotate(70deg); /* IE 9 */
    -webkit-transform: rotate(70deg); /* Safari 3-8 */
    transform: rotate(70deg);
    
    position: absolute;
	left: 90px;
	top: 100px;

  mix-blend-mode: multiply;

}

.yellow1{
	
	height:30px;
    width:150px;
    border-radius: 30px;
    background:#DFA647;
   	
   	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
    
    position: absolute;
	left: 0px;
	bottom: 60px;

  mix-blend-mode: multiply;

}

.blue1 {
	position: absolute;
	top: 30px;
	right: 30px;
  	
  	height:30px;
    width:150px;
    border-radius: 30px;
    background:#73C3C8;
    
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari 3-8 */
    transform: rotate(270deg);

  mix-blend-mode: multiply;

}

.pink1 {
	position: absolute;
	top: 60px;
	right: 0px;

  	height:30px;
    width:150px;
    border-radius: 30px;
    background:#CB245B;
    
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);

  mix-blend-mode: multiply;

}